  <td class="<%= name %>_named_cell_label">
    <%= cell.title %>:
  </td>
  <td class="<%= name %>_named_cell_data" <%= (cell.colspan ? "colspan=\"#{cell.colspan}\"" : "") -%>>
    <pre><%= object.send(cell.name) %></pre>
  </td>
