<% focuselement = args[:focuselement] ? "$('#{h[:focuselement]}').focus();" : "" %>

<a href="javascript:{}" 
   onclick="Element.hide('<%= readrow %>');Element.show('<%= writerow %>');<%= focuselement %>">
Edit
</a>
