  <table>
    <tr>
      <td>
	<a href="#" onclick="Element.hide('<%= div %>');">Clear Error</a>
      </td>
      <td>
	&nbsp
      </td>
      <td>
	<pre>
	  <%= error %>
	</pre>
      </td>
    </tr>
  </table>
