
<link href="/stylesheets/meteor.css" media="screen" rel="Stylesheet" type="text/css" />
<script src="/javascripts/prototype.js" type="text/javascript"></script>
<script src="/javascripts/effects.js" type="text/javascript"></script>

<%= renderer.conditionally_render_partial(:hideable_panebox, args) {renderer.conditionally_render_partial(:rows,args)} %>
