
<%= renderer.conditionally_render_partial(:actions,args.merge({:rowtype => :edit})) %>
<% spec.non_ignored_columns.each do |col| %>
<td id="<%= writerow %>_<%= col.name %>_td">
  <%= renderer.conditionally_render_partial("#{col.type}_column".to_sym,args.merge(:type => col.edit ? :edit : :readonly,
                                                                                   :html_id => writerow,
                                                                                   :column=>col)) %>
</td>
<% end %>
