<%= stylesheet_link_tag 'meteor/meteor.css' %>
<%= stylesheet_link_tag 'meteor/dhtml_calendar/dhtml_calendar' %>
<%= stylesheet_link_tag 'meteor/dhtml_calendar/calendar-blue' %>
<%= javascript_include_tag 'meteor/in_place_date_editor' %>
<%= javascript_include_tag 'meteor/dhtml_calendar/datebox_engine' %>
<%= javascript_include_tag 'meteor/dhtml_calendar/calendar' %>
<%= javascript_include_tag 'meteor/dhtml_calendar/lang/calendar-en' %>
<%= javascript_include_tag 'meteor/dhtml_calendar/calendar-setup' %>
